p {
	margin: 0;
	padding-left: 4px;
}

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 100%; 
	text-align: center;
	max-height: 100%;
	margin: 0;
	
	}
.wrapper {
	display: none;
}

	@media screen and (max-device-height: 500px) {

			body {
	font-family: 'Open Sans', sans-serif;
	max-width: 100%; 
	text-align: center;
	max-height: 20%;
	margin: 0;
	/*font-size: 20px;*/
	}



	}
	
/*.wrapper {
	max-width: 100%;
	font-size: 20px;
	}
*/



  input{
  	text-align: center;
border: 0;
width: 90%;
font-size: 15px;
border-bottom: 2px solid maroon;

border-color: #D9DAD9;
  }
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    list-style-type: none;
   }


img {
	max-height:50% ;
	max-width:50%; 
}



header {
	margin-top: -70px;
	/*height: 50%;*/	
	padding: 0;
	position: relative;
	background-color: #00AFFF;
	z-index: 1;
/*margin-top: -90px;*/
	text-align: center;
	font-size: 2rem; 
	/*width: 101.5%;*/
	background-size: contain;
	color:white;
z-index: -1;
	font-family: 'Open Sans', sans-serif;
	line-height: 2;
	/*margin-left: -11px;*/
}



	 @media screen and (max-device-width: 500px) {
    		header {
    			position: relative;
    			font-size: 50px;
    			line-height: 2;
    			width: 180%;
    				}
    		
    		}



    		 @media screen and (max-device-height: 450px) {
    		header {
    			position: relative;
    			font-size: 12px;
    			line-height: 3;
    			height: 100%;
    				}
    		
    		}

    		@media screen and (max-device-width: 500px) and (orientation:landscape) {

    			header {
    			position: relative;
    			height: 190%;
    			position: relative;
    			font-size: 40px;
    			line-height: 1;
    			/*width: 300px;*/
    			height: 13.2em;
    			margin-top: -10px;
    			margin-left: -10px;

    			 				}
    		
    		}






.monster{
	height: 15%;
	width: 30%;
	margin-left: 35%;
	/*max-width: 20%;*/
	text-align:center;
	/*height: 15%;*/
}
@media screen and (max-device-width: 500px) {

    	.monster {
    			text-align: center;
    			height: auto;
    			width:100%;
    			margin-left: -1%

    		}
    		}


    		/*@media screen and (max-device-width: 800px) and (orientation:landscape) {

    				.monster {
    			text-align: center;
    			height: auto;
    			width:100%;
    			margin-left: -1%

    		}

    		}*/

.content {
	text-align: center;
	max-width: 100%;
}

/*@media screen and (max-device-width: 800px) and (orientation:landscape) {

.content {
	text-align: left;
	width: 100%;
	margin-top: -450px;
}

}*/

.form {
		text-align: left;
	margin-left: 35%;
	position: relative;
	background-color: white;
	/*height: 270px;*/
	border: none;
	width: 30%;
	height: 20rem;
	z-index: 2;
		margin-top: -50px;
	border:0;	
-webkit-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
-moz-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);

	}

@media screen and (max-device-width: 500px) {

	.form {
	text-align: left;
	margin-left: 15%;
	position: relative;
	background-color: white;
	height: auto;
	border: none;
	width: 150%;
	z-index: 2;
	font-size: 40px;
	margin-top: -60px;
		/*margin-top: -40px;*/
	border:0;	
-webkit-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
-moz-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);

	}

}

		/*	@media screen and (max-device-width: 800px) and (orientation:landscape) {

						.form {
				text-align: left;
				
				position: relative;
				background-color: white;
				height: 370px;
				border: none;
				width: 90%;
				z-index: 2;
					margin-top: -100px;
				border:0;	
			-webkit-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
			-moz-box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
			box-shadow: 0px 0px 15px 3px rgba(165,177,181,0.92);
			
	}


					}
*/
.ph {
	/*margin: 10px;*/
	margin-top: 20px;
	margin-left: 15px;
	/*padding:2px;*/
	font-size: 1em;
	text-align: left;
	color:#AEAEAE;
}

.ball{
	position: relative;
	text-align: center;
	margin-top: 15px;
	/*height: 150px;*/

	
	}
@media screen and (max-device-width: 500px) {
s

.ball{
	position: relative;
	text-align: center;
	margin-top: 45px;
	/*height: 15em;*/
	
	}

}

/*@media screen and (max-device-width: 800px) and (orientation:landscape) {

.ball{
	position: relative;
	text-align: center;
	margin-top: 15px;
	
	}


}*/

	
.legal {
	margin-top: -160px;
	position: relative;
	display: inline-flex;
		text-align: left;
font-size:13px;
margin-left: 15px;
/*padding: 2px;*/
color:#AEAEAE;
max-width: 80%;

} 

		@media screen and (max-device-width: 500px) {
			.legal {
				margin-top: -36px;
				position: relative;
				display: inline-flex;
					text-align: left;
				font-size:23px;
				margin-left: 15px;
				/*padding: 2px;*/
				color:#AEAEAE;
				max-width: 80%;

} 	

		}
		




.social {
	text-align: center;
	margin-top: 10px;
	color: #AEAEAE;
	/*margin-left: 5%;*/

}

@media screen and (max-device-width: 500px) {

.social {
	text-align: center;
	margin-top: 10px;
	color: #AEAEAE;
	margin-left: 55%;
}


}



.thanks {
	text-align: center;
}
/*
								@media screen and (max-device-width: 800px) and (orientation:landscape) {


								.footer {
									display: none;
								}


								}*/


@media screen and (max-device-width: 500px) {

	.footer {

		margin-left: 180px;
		white-space: nowrap;
		font-size: 30px;
	}
}

/*.social{
	margin-left: 260px;

}
}*/
.thanks {
	position: relative;
	margin-left: -50px;
	


}


/*--------------------------------------------------------------------------------------------------------------------------*/

/*Can't touch this*/
.heart img{
	margin-right: 3px;
	-webkit-animation: breathing 5.1s ease-out infinite normal;
    animation: breathing 2.5s ease-out infinite normal;
    
    
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;    
    }
@keyframes breathing {
  0%, 100% { -webkit-transform: scale(1.3);
  }
  50% { -webkit-transform: scale(1);
  }

}



/** Switch
 -------------------------------------*/
.flag-switch {
  position: relative;
  outline: 0;
  appearance: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: auto;
}
.flag-switch * {
  box-sizing: border-box;
}
.flag-switch span {
  margin-left: 20px;
}
.flag-switch input {
  display: none;
}
.flag-switch input + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 80px;
  height: 30px;
  vertical-align: middle;
}
.flag-switch input + label:before,
.flag-switch input + label:after {
  content: "";
  position: absolute;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.flag-switch input + label:before {
  height: 20px;
  width: 50px;
  background-color: #D9DAD9;
}
.flag-switch input + label:after {
  background-color: #757575;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  transform: translate(0, 0);
}
.flag-switch input:checked + label:after {
  transition: all 0.25s ease-in-out;
  transform: translate(30px, 0);
}
.flag-switch input:checked + label:before {
  background-color: #00AFFF;
}

/*======================================================================================================================*/
@media screen and (max-device-width: 500px) {


.flag-switch {

  position: relative;
  outline: 0;
  appearance: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: auto;
}
.flag-switch * {
  box-sizing: border-box;
}
.flag-switch span {
  margin-left: 20px;
}
.flag-switch input {
  display: none;
}
.flag-switch input + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 130px;
  height: 60px;
  vertical-align: middle;
}
.flag-switch input + label:before,
.flag-switch input + label:after {
  content: "";
  position: absolute;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.flag-switch input + label:before {
  height: 40px;
  width: 105px;
  background-color: #D9DAD9;
}
.flag-switch input + label:after {
  background-color: #757575;
  top: 0px;
  left: 2px;
  width: 40px;
  height: 40px;
  transform: translate(0, 0);
}
.flag-switch input:checked + label:after {	
  transition: all 0.25s ease-in-out;
  transform: translate(65px, 0);
}
.flag-switch input:checked + label:before {
  background-color: #00AFFF;
}

}
/*CSS For LoginPage*/

.wrapper2 {
	display: flex;
z-index: 5;
}


.left-side {

	overflow: visible;
	height: -30%;
	/*background: url(img/left.png);*/ 
	text-align: left;
	/*width: 30%;
	height: 20em;*/
	/*height: 399px;*/
	/*#41394D*/
		max-height:60%;
		z-index: -1;
}
/*.shadow {

	margin-left: -125%;
margin-top: -14px;
width: 250%;
	height: 200%;
	background: #312B3A;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 500px;
		margin-bottom: -50px;
		overflow: auto;
	


}
}
.sm-shadow {
	width: 250rem;

		background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
					overflow: auto;
z-index: -5;
}


*/
.right-side

{
text-align: right;
font-size: 40px;	
}

.form-l {
	margin-left: 60%;
	text-align: center;
	font-size: 20px;
	margin-top: -10px;
	width: 30%;
	margin-bottom: -30px;
}
.title {
	text-align: right;
	margin-right: 12%;
	margin-top: -50%;
}


.ball-l {

	position: relative;
	/*margin-top: -20% ;*/
	margin-right: 20%;
}


.legal-l {
	margin-bottom: -50px;
	color: #DEDEDE;
	display: inline-block;
	text-align: right;
	margin-right: 14%;
font-size: 12px;
margin-top: 16em;

}

.footer-l {
	font-size: 70%;
	margin-right: 6%;
	text-align: right;
	color: #DEDEDE;
}

/*
.head {
	margin-top: -20px;
}*/


.pin {
	text-align: left;
	margin-top: -250px;
}